<!DOCTYPE html>
<html>
    <head>
        <title>Wine Data Lake</title>
        <link rel="stylesheet" href="/css/mainTemplate.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        {{#each css}}
            <link rel="stylesheet" href="/css/{{this}}">
        {{/each}}
    </head>
    <body>
        <script src="https://kit.fontawesome.com/aa5ee9cb69.js" crossorigin="anonymous"></script>
        {{#each js}}
            <script src="/js/{{this}}"></script>
        {{/each}}
        <div class="wrapper">
            <div class="header">
                <div class="logoWrapper">
                    <embed src="/svg/logo.svg">
                </div>
                <div class="accountWrapper">
                    {{#if user}}
                        <div class="userWrapper">
                            <i class="fa-solid fa-user"></i>
                            <button>{{user}}</button>
                        </div>
                        <div class="signOutWrapper">
                            <button>Sign Out</button>
                        </div>
                    {{else}}
                        <div class="signUpWrapper">
                            <button>Sign Up</button>
                        </div>
                        <div class="signInWrapper">
                            <button>Sign In</button>
                        </div>
                    {{/if}}
                </div>
            </div>
            <div class="mainContent">
                {{{body}}}
            </div>
            <div class="footer">
                <div class="contents">
                    <a href="/about">About</a> | <a href="/contact">Contact Us</a> | <a href="/developers">Developers</a> | <a href="/help">How to Use This Site</a>
                </div>
            </div>
        </div>
    </body>
</html>
