<div class="contentBackground">
    <div class="userProfilePicDiv">
        <img src="/images/user.png" />
        <p>Dashboard<br>Log out</p>
    </div>
    <div class="userGreeting">
        <h1>Hi, {{data.username}}!</h1>
    </div>
    <div class="favorites">
        <div class="qualities">
            <h2><i class="fa-solid fa-heart"></i> Favorite Qualities</h2>
            {{#each data.qualities}}
                <div class="subquality"><li><a href="">{{this.quality_name}}</a></li></div><br>
            {{/each}}
        </div>
        <div class="wineries">
            <h2><i class="fa-solid fa-heart"></i> Favorite Wineries</h2>
            {{#each data.wineries}}
                <div class="subwinery">
                <img src="/images/winery_logo.png" />
                <li><a href="">{{this.winery_name}}</a></li><br>
                </div>
            {{/each}}
        </div>
        <div class="techsheets">
            <h2><i class="fa-solid fa-heart"></i> Favorite Techsheets</h2>
            {{#each data.techsheets}}
                <li><a href="https://storage.googleapis.com/winedatalake-377223.appspot.com/techSheets/{{this.source_file}}">{{this.source_file}}</a></li><br>
            {{/each}}
        </div>
    </div>
</div>