<div class="resultsWrapper">
        <div class="infoContainer">
                <div class="filtersContainer">
                        {{#each data.activeFilters}}
                                <div class="activeFilter">
                                        {{this}}
                                        <button><i class="fa-solid fa-xmark"></i></button>
                                </div>
                        {{/each}}
                </div>
                <hr class="solid">
                <div class="filtersTitle">
                        Filters
                        <button class="clearButton">Clear All <i class="fa-solid fa-xmark"></i></button>
                </div>
                <hr class="solid">
                <div class="keywordsContainer">
                        {{#each data.activeKeywords}}
                                <div class="activeKeyword">
                                        {{this}}
                                        <button><i class="fa-solid fa-xmark"></i></button>
                                </div>
                        {{/each}}
                </div>
        </div>
        <div class="resultsContainer">
                {{#each data.results}}
                        <a href="/wines/{{this.id}}"><div class="result">
                                <div classs="resultInfo">
                                        <div class="title">
                                                {{this.title}}
                                        </div>
                                        <div class="subtitle">
                                                {{this.subtitle}}
                                        </div>
                                        <div class="keywords">
                                                {{#each this.keywords}}
                                                        {{this}}
                                                {{/each}}
                                        </div>
                                        <br>
                                        <div class="description">
                                                {{this.description}}
                                        </div>
                                </div>
                                <div class="resultTechsheet">
                                        <embed src="{{this.techsheet}}">
                                </div>
                        </div></a>
                {{/each}}
        </div>
</div>