<div class="resultsWrapper">
        <div class="infoContainer">
                <div class="filtersContainer">
                        {{#each data.activeFilters}}
                                <div class="activeFilter">
                                        {{this}}
                                        <button><i class="fa-solid fa-xmark"></i></button>
                                </div>
                        {{/each}}
                </div>
                <hr class="solid">
                <div class="filtersTitle">
                        Filters
                        <button class="clearButton">Clear All <i class="fa-solid fa-xmark"></i></button>
                </div>
                <hr class="solid">
                <div class="keywordsContainer">
                        {{#each data.activeKeywords}}
                                <div class="activeKeyword">
                                        {{this}}
                                        <button><i class="fa-solid fa-xmark"></i></button>
                                </div>
                        {{/each}}
                </div>
        </div>
        <div class="resultsContainer">
                {{#if message}}
                        <p>{{message}}</p>
                {{/if}}
                {{#each data.rows}}
                        <a href="/wines/{{this.bottle_id}}"><div class="result">
                                <div class="resultInfo">
                                        <div class="title">
                                                {{this.wine_name}}
                                        </div>
                                        <div class="subtitle">
                                                {{this.winery_name}}
                                        </div>
                                        <div class="keywords">
                                                {{this.varietal_name}}
                                        </div>
                                        <br>
                                        <div class="description">
                                                {{this.description}}
                                        </div>
                                </div>
                                <div class="resultTechsheet">
                                        <embed src="{{this.source_file}}">
                                </div>
                        </div></a>
                {{/each}}
        </div>
</div>